@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.con {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
}
